{{#if filtro}}
      
      <h1>---------------------FILTRO ENCONTRADO ---------------------</h1>
      

      <h3>Lista de productos</h1>

      {{#if filtroXTitulo}}
      <h2>Producto filtrado por "title": {{filtro}}</h3>
          <ul>
            {{#each arrayFiltradoXTitulo}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <br>
          <button onclick="reestablecer({{limit}},{{page}},{{sort}})">Reestablecer filtro</button>

            {{else}}
            <h2>Producto filtrado por "disponibilidad": {{disponibilidad}}</h3>
                    <ul>
                      {{#each arrayFiltradoXDisp}}
                      <li>{{this}}</li>
                      {{/each}}
                    </ul>
                    <br>
           <br><br>
            <button onclick="reestablecer(10,{{page}},{{sort}})">Reestablecer filtro</button>
      {{/if}}

{{else}} 

    {{#if hayDocs}}
          <h1>Lista de productos</h1>
          <ul>
            {{#each arrayProductos}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
     {{else}}
     <p>El array se encuentra vacio</p>
     {{/if}}
     
    <button><a {{#if hasPrevPage}} href="?limit={{limit}}&page={{prevPage}}&status={{disponibilidad}}" {{/if}}>Prev</a></button>

    [{{ page }}]
    <button><a {{#if hasNextPage}} href="?limit={{limit}}&page={{nextPage}}&status={{disponibilidad}}" {{/if}}>Next</a></button>
    <br><br>

    <button id="boton_ascendente" onclick="ascendente({{limit}},{{page}})">Sort ascendente</button>
    <button id="boton_descendente" onclick="descendente({{limit}},{{page}})">Sort descendente</button><br><br>

    <p>Página: </p><input id="pagina" type="text"> <button onclick="irAPag({{limit}})">ir</button>
    <p>Filtro por titulo: </p><input id="query" type="text"> <button onclick="query({{limit}},{{page}},{{sort}},{{filtro}})">ir</button><br>
    <p>Filtro por disponibilidad: </p>
    
    <button onclick="disponibiles({{limit}},{{page}},{{sort}})">Disponibles</button>
   



{{/if}}

<script>
  function irAPag(limit) {
    const pagDeseada = document.getElementById('pagina').value || 1
    window.location = `?limit=${limit}&page=${pagDeseada}`
  }

  function ascendente(limit,page){
       
        window.location = `?limit=${limit}&page=${page}&sort=1`
  }

 function descendente(limit,page){
   
        window.location = `?limit=${limit}&page=${page}&sort=-1`
  }


 function query(limit,page,sort,filtro) {
        const queryInput = document.getElementById('query').value
        window.location = `?limit=${limit}&page=${page}&sort=${sort}&query=${queryInput}`
    
  }

 function reestablecer (limit,page,sort) {
        window.location = `?limit=${limit}&page=${page}&sort=${sort}`}

 function disponibiles(limit,page) {
        window.location = `?limit=100&page=1&status="true"`
  }



</script>
<script src="/js/indexProducts.js"></script>

