<h1>{{encabezado}}</h1>


{{#if hayUsuarios}}
<button onClick='redireccion()'>Ver usuarios ausentes</button>
<button onClick='modificarRol()'>Modificar rol</button>

<h4>USUARIOS</h4>
<ul>
     {{#each arrayUsuarios}}
     <li>Usuario: {{this.email}}, Nombre completo: {{this.nombre}} , Carrito ID: {{this.carrito}} , Rol: {{this.rol}}, Ultima conexion: {{this.ultima_conexion}}. </li>  {{/each}}
</ul>
{{else}}
<p class="text-danger">Sin usuarios registrados</p>
{{/if}}


<script src="/js/usersList.js"></script>
<script>
    function redireccion () {
        const url = window.location.origin
        const url2 = url + `/api/users/bussy/` 
        window.location.href = url2
    }

    function modificarRol () {
        alert("seguro que quiere modificar el rol del usuario?")
        const url = window.location.origin
        const url2 = url + `/api/users/bussy/` 
        window.location.href = url2
    }
</script>